
.Block {
  background-color: #BEF781;
  color: white;
  padding: 20px;
  font-size: 150%;
}
div {
  text-align: center;
}
  .CR {
    color: blue;
    text-align: right;
  }

  body {
    background-image: url("https://images.unsplash.com/photo-1499262222376-d10eb3d5183f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9595454c59fe24e034539a349292d643&w=1000&q=80");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#Willkommen {
  color: #21610B;
  text-align: center;
letter-spacing: .2rem;
font-family: serif;
font-size: 400%;

}
